<!DOCTYPE html>
<html>
<head>
	<title>payment</title>
    <link rel="shortcut icon" href="../logo/logo.png">
    <style>
    	*:focus{
        outline:none;
       }
       body{
        overflow-x: hidden;
        scroll-behavior:smooth;
       }
    </style>
</head>
<body>	
    <div style="position:absolute;margin:20%;margin-top:10%;width:60vw;height:30vh;border:3px solid black;border-radius:5%/15%;text-align:center">
        <p><b>Order is successful.<b></p>
        <p>Your Order will be delivered within 3 or 4 days.</p>
    </div>
</body>

</html>
